body{
    padding: 0;
    margin: 0;
}
wrapper {
    font-family: "Quicksand",sans-serif;
    margin:0;
    padding:0;
}
logo a{
    padding: 10px;
    font-size: 50px;
    font-family: "Oleo Script",sans-serif;
    color: rgb(245,243,160);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0,0,0);
}
header ul{
    list-style: none;
    display: flex;

}
header li {
    width:100px;
    margin-left:20px;
}
nav a{
    text-decoration: none;
    color: rgb(255,251,0);
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
}
nav a:hover{
    color: black;
    background-color: rgb(255,251,0);
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}
#hero {
    height:800px;
    background-image: url("/asset/ocean.jpg");
    background-position: center;
    background-size: cover;
}
#hero-content a{
    text-decoration: none;
    background-color: rgb(255,251,0);
    border-radius: 8px;
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgb(68,67,67);
}
#hero-content{
    text-align: center;
    width:900px;
    background-color: rgba(51 ,47 ,47 ,0.8);
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(68,67,67);
    padding:50px 0px;
    margin:0 auto;
    position: relative;
    top: 200px;
}
#hero-content h1{
    font-size: 50px;
    color: white;
    font-family: "Raleway",sans-serif;
    margin: 0px;

}
#hero-content p{
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 34px;
}
#hero-content a:hover{
    background-color: rgb(255,235,0);
}
#highlight img{
    height:200px;
    width : 100%;
    box-shadow: 2px 4px 8px rgb(68,67,67);
    border-radius: 10px;
    object-fit: cover;
}
#highlight ul{
    display:flex;
    width:1000px;
    margin: auto;
    margin-bottom: 40px;

}
#highlight li{
    list-style: none;
    margin: 0 20px;
    text-transform: uppercase;
}
#highlight li strong{
    color: rgb(0,160,117);
}
#highlight h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(59,65,64);
    margin: 24px 0;
}
#highlight p{
    color: rgb(124,123,123);
    text-align: center;
    margin: 20px;
}
#highlight{
    background:linear-gradient(45deg, rgb(227,255,253), rgb(96, 197, 191)) ;
    background-color: rgb(227,255,253);
    padding:24px;
}

footer{
    background-color: black;
    margin:-20px 0;
    padding:0 36px;
}
footer ul{
    display: flex;
    justify-content: center;
    margin: 0 40px;
}
footer li{
    width:80px;
    height:80px;
    padding: 40px;


}
footer img{
    width:100%;
    height:100%;
}



