wrapper {
    font-family: "Quicksand",sans-serif;
}
logo a{
    padding: 10px;
    font-size: 50px;
    font-family: "Oleo Script",sans-serif;
    color: rgb(245,243,160);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0,0,0);
}
header ul{
    list-style: none;
    display: flex;

}
header li {
    width:100px;
    margin-left:20px;
}
nav a{
    text-decoration: none;
    color: #f5f300;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#hero {
    height:800px;
    background-image: url("/asset/ocean.jpg");
    background-position: center;
    background-size: cover;
}
